@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
    background-color: #ecf1f2;
    padding: 10px;
    width: 100%;
}

.contents__box__common__point {
    font-size: 16px;
    line-height: 50px;
    background-color: #fff;
    text-align: center;
}

.contents__box__common {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.contents__box {
    font-size: 0;
}

.contents__box__12 {
    width: 100%;
}

.contents__box__6 {
    width: 50%;
}

.contents__box__4 {
    width: 33.33%;
}

.contents__box__3 {
    width: 25%;
}

.contents__box__24 {
    width: 20%;
}

.contents__box__2 {
    width: 16.66%;
}
/* 回答はここに書いてね */
