@charset "UTF-8";

/* 回答はここに書いてね */
.contents__top {
    overflow: hidden;
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.contents__top__img { 
	transition: 0.5s; 
}

.contents__top__gradation {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    transition: 0.5s;
}

.contents__top:hover .contents__top__img { 
	transform: scale(1.5); 
}

.contents__top__gradation__text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #FFF;
    word-break: break-all;
}

.contents__top:hover .contents__top__gradation { 
	bottom: 0; 
}

.contents__bottom {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 10px solid #ecf1f2;
    border-left: 10px solid #00bcd4;
    animation: load 1.1s infinite linear;
}

@keyframes load {
    0% {
      transform: rotate(0deg); /*一応記載 書くべきか質問*/
    }
    100% {
      transform: rotate(360deg);
    }
}
/* 回答はここに書いてね */
