@charset "UTF-8";

/* 回答はここに書いてね */
/*q5-1*/
.q5__horizontal_mb20 {
    width: 640px;
    padding: 20px 10px;
    background-color: #ecf1f2;
    margin: 0 auto;
    font-size: 0;
}

.q5__horizontal__box__text {
    width: 90px;
    background-color: #e6f2ff;
    padding: 10px 0;
    text-align: center;
}

.q5__horizontal__box__align__text {
    display: inline-block;
}

.q5__horizontal__box__align {
    text-align: center;
}

.q5__horizontal__box__margin {
    margin: 0 auto;
}

/*q5-2-table*/
.contents__vertical__table__text {
    padding:10px;
    background-color: #fff;
    display: inline;
}

.contents__vertical__table {
    width: 300px;
    height: 200px;
    background-color: #ecf1f2;
    margin: 0 auto;
    display: table;
}

.contents__vertical__table__inner {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

/*q5-2-flex*/
.contents__vertical__flex {
    align-items: center; 
    background-color: #ecf1f2;
    height: 200px;
    display: flex;      
    justify-content: center;
    margin: 0 auto;
    width: 300px;
}

.contents__vertical__flex__text {
    padding: 10px;
    background-color: #fff;   
}

/*q5-position*/
.contents__position__box {
    background-color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 200px;
    margin: 0 10px 0 10px;
    position: relative;
    width: 300px;  
}

.is-stable {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 30px;
    margin: auto;
    line-height: 30px;
    text-align: center;
    background-color: #E6F2FF;
}

.is-flexible {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #E6F2FF;
}
/* 回答はここに書いてね */

