@charset "UTF-8";

/* 回答はここに書いてね */
.text {
    padding: 10px 0;
    width: 90px;
    background-color: #e6f2ff;
    text-align: center;
    margin: 10px 50px;
}

.frame__01 {
    padding: 20px;
    background-color: gray;
}
.texta {
     
/* 回答はここに書いてね */

