@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
    width: 900px;
    background-color: #eff3f4;
    margin: 0 auto;
    padding: 20px;
}

.contents__list {
    float: left;
    width: 270px;
    padding: 20px;
    background-color: #3274ae;
    box-sizing: border-box;
    margin-left: 20px;
}

.contents__list:first-child {
    margin: 0px;
}

.contents__list__text {
    font-size: 16px;
    padding: 20px;
    background-color: #eaf4ff;
    border: 10px solid #022336;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
/* 回答はここに書いてね */
