@charset "UTF-8";

/* 回答はここに書いてね */
.main {
    font-size: 0;
    text-align: center;
}
.main__box {
    display: inline-block;
    margin: 10px;
    font-size: 16px;
    vertical-align: middle;
}
.main__sub {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.main__text {
    padding: 5px;
    border: 1px solid #00BCD4;
    border-radius: 5px;
}
.main__text::-webkit-input-placeholder { color: #00BCD4; }
.main__text:focus { box-shadow: 0 0 7px #00BCD4; }
.main__textarea {
    height: 40px;
    padding: 5px;
    border: 1px solid #00BCD4;
    border-radius: 5px;
    resize: none;
}
.main__radio { cursor: pointer; }
.main__radio__botton { display: none; }
.main__radio__text {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 20px;
}
.main__radio__text:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
}
.main__radio__botton:checked + .main__radio__text:after {
    position: absolute;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background-color: #00BCD4;
    border-radius: 50%;
    content: '';
}
.main__check { cursor: pointer; }
.main__check__botton { display: none; }
.main__check__text {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 22px;
}
.main__check__text:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.main__checkbox__botton:checked + .main__checkbox__text:after {
    position: absolute;
    content: '';
    top: 5px;
    left: 3px;
    width: 13px;
    height: 5px;
    border-bottom: 2px solid #00BCD4;
    border-left: 2px solid #00BCD4;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.main__select {
    position: relative;
    background-color: #FFF;
}
.main__select:before {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
}
.main__select__sub {
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 30px 5px 5px;
    font-size: 14px;
}
.botton__botton {
    padding: 5px 10px;
    border: 1px solid #00BCD4;
    border-radius: 5px;
    color: #00BCD4;
    cursor: pointer;
}
.main__botton:active {
    background-color: #00BCD4;
    color: #FFF;
}


/* 回答はここに書いてね */
