@charset "UTF-8";

/* 回答はここに書いてね */
p {
    padding: 0 20px 0;
}

.main {
    width: 940px;
    background-color: #eff3f4;
    margin: 0 auto;
    padding: 20px 0 20px;
    font-size: 18px;
    line-height: 22px;
}
.marginone {
    padding: 0 20px 10px;
    float: left;
}

.marginsec {
    padding: 0 20px 10px;
    float: right;
}
/* 回答はここに書いてね */
