@charset "UTF-8";

/* 回答はここに書いてね */
.main {
    width: 900px;
    background-color: #eff3f4;
    padding: 20px;
    font-size: 18px;
    line-height: 22px;
    word-break: break-all;
    margin: 0 auto;
}

.main__top__img {
    float: left;
    padding: 0 20px 10px 0;
}

.main__bottom__img {
    float: right;
    padding: 0 0 10px 20px;
}
/* 回答はここに書いてね */
