@charset "UTF-8";

/* 回答はここに書いてね */
.title--sub {
    margin-top: 10px;
}

.center__a, .center__b, .center__c {
    margin: 0 auto;
}

.center__a div {
    display: inline-block;
    padding: 0 15px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 3px; 
    line-height: 26px;
}

.center__b div {
    display: inline-block;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px; 
    line-height: 32px;
}

.center__c div {
    display: inline-block;
    padding: 0 25px;
    margin-left: 10px;
    font-size: 24px;
    border-radius: 7px; 
    line-height: 38px;
}

.common-a, .common-b, .common-c {
    background-color: #00bcd4;
    color: #fff;

}

.error-a, .error-b, .error-c {
    background-color: #ff4081;
    color: #fff;
}

.disabled-a, .disabled-b, .disabled-c {
    background-color: #e5e5e5;
    color: #fff;
}

.shadow-a, .shadow-b, .shadow-c {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12),
    0 1px 4px rgba(0, 0, 0, .12);
    color: #000;
}



/* 回答はここに書いてね */
