@charset "UTF-8";

/* 回答はここに書いてね */
.title--sub {
    margin-top: 10px;
}

.contents__center {
    text-align: center;
}

.contents__small__button {
    display: inline-block;
    padding: 0 15px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 3px; 
    line-height: 26px;
}

.contents__middle__button {
    display: inline-block;
    padding: 0 20px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px; 
    line-height: 32px;
}

.contents__large__button {
    display: inline-block;
    padding: 0 25px;
    margin-left: 10px;
    font-size: 24px;
    border-radius: 7px; 
    line-height: 38px;
}

.contents__common {
    background-color: #00bcd4;
    color: #fff;
}

.contents__error {
    background-color: #ff4081;
    color: #fff;
}

.contents__disabled {
    background-color: #e5e5e5;
    color: #fff;
}

.contents__shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12),
    0 1px 4px rgba(0, 0, 0, .12);
    color: #000;
}
/* 回答はここに書いてね */
