@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    border: 5px solid #222;
    border-radius: 30px;
    position: relative;
}

.contents__text {
    font-size: 16px;
    line-height: 16px;
}

.contents:before {
    content: "";
    border: 20px solid transparent;
    border-top: 20px solid #222;
    position: absolute;
    left: 30px;
    bottom: -45px;
}

.contents:after {
    content: "";
    border: 20px solid transparent;
    border-top: 20px solid #fff;
    position: absolute;
    left: 30px;
    bottom: -38px;
}
/* 回答はここに書いてね */
