@charset "UTF-8";

/* 回答はここに書いてね */

.contents {
    table-layout: fixed;
    width: 100%;
}

.contents__head .contents__child td {
    background-color: #2244aa;
    color: #fff;
}

.contents__child td {
    font-size: 16px;
    padding: 10px;
    line-height: 22px;
    border: 1px solid #dedede;
}

.contents__child {
    text-align: center;
}

.contents__child:nth-child(even) {
    background-color: #ecf1f2;
}

.contents__child th {
    background-color: #2244aa;
    border: 1px solid #dedede;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    padding: 10px 0;
}

.contents__body .contents__child:last-child {
    border-bottom: 2px dashed #000;
}
/* 回答はここに書いてね */
