

.form {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ECF1F2;
}

.title {
    position: relative;
    margin-bottom: 20px;
}

.title:before {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}

.title__text {
    position: relative;
    padding-right: 10px;
    background-color: #ECF1F2;
    font-size: 24px;
    font-weight: bold;
    float: left;
}

.main {
    float: left;
    width: 300px;
}

.main__part {
     margin-bottom: 20px;
}
.main__part > li:not(:first-child) {
     margin-top: 20px; 
}
.main__part__title {
    float: left;
    width: 100px;
    line-height: 25px;
    text-align: right;
}
.main__part__title .span {
     color: #F00; 
}

.main__part__point {
    float: right;
    width: 180px;
}

.input--init {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFF;
    font-size: 12px;
    line-height: 12px;
    box-sizing: border-box;
}

.radio__box {
     cursor: pointer; 
}

.radio__botton {
     display: none; 
}

.radio__text {
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 20px;
}

.radio__text:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    content: '';
}

.radio__bottom:checked + .radio__text:after {
    position: absolute;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background-color: #00BCD4;
    border-radius: 50%;
    content: '';
}

.main__bottom {
     text-align: right; 
}

.main__bottom__botton {

    padding: 0 10px;
    border-radius: 5px;
    background-color: #00BCD4;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
}

.message {
    float: right;
    width: 380px;
}

.message__text {
    width: 100%;
    height: 203px;
    padding: 10px;
    border-radius: 3px;
    background-color: #FFF;
    font-size: 12px;
    box-sizing: border-box;
    resize: none;
}

