@charset "UTF-8";

/* 回答はここに書いてね */
.q8 {
     width: 100%;
    padding: 20px;
    background-color: #ECF1F2;
    margin: 0 auto;
    display: table;
    text-align: center;
    box-sizing: border-box;
}

li {
    padding: 20px 0;
    display: table-cell;
}

.kotei-a {
    width: 100px;
    background-color: #fdc8b8;
}

.kahen-a {
    background-color: #e0abd9; 
}

.kotei-b {
    width: 100px;
    background-color: #b6d8ed;
}

.kahen-b {
    background-color: #e5d32e;
}

.kahen-c {
    background-color: #e4e67c;
}

.kotei-c {
    width: 500px;
    background-color: #8fdcad;
}
/* 回答はここに書いてね */
